In [1]:
import pandas as pd
from datetime import datetime, timedelta

In [2]:
ct = datetime.now().strftime('%A %-d %B %Y')

df_main = pd.read_csv('test3.csv')
df_main.insert(0,'date', ct)
df_main.set_index('velocity')

df_main

                      date  index  time  velocity
0   Friday 1 November 2019      0     0         0
1   Friday 1 November 2019      1     1         1
2   Friday 1 November 2019      2     2         2
3   Friday 1 November 2019      3     3         3
4   Friday 1 November 2019      4     4         4
5   Friday 1 November 2019      5     5         5
6   Friday 1 November 2019      6     6         6
7   Friday 1 November 2019      7     7         7
8   Friday 1 November 2019      8     8         8
9   Friday 1 November 2019      9     9         9
10  Friday 1 November 2019     10    10        10
11  Friday 1 November 2019     11    11        11
12  Friday 1 November 2019     12    12        12
13  Friday 1 November 2019     13    13        13
14  Friday 1 November 2019     14    14        14
15  Friday 1 November 2019     15    15        15

In [3]:
df_new = pd.read_csv('test2.csv')
df_new.insert(0, 'date', 'Saturday 2 november 2019')


tables = [df_main, df_new]
df_added = pd.concat(tables, ignore_index=True)

dfx = df_added.set_index(['date','index'])
dfx.to_csv('hoe ziet dit eruit')

dfx.groupby('date').plot(x='time', y='velocity')
dfx

                                time  velocity
date                     index
Friday 1 November 2019   0         0         0
                         1         1         1
                         2         2         2
                         3         3         3
                         4         4         4
                         5         5         5
                         6         6         6
                         7         7         7
                         8         8         8
                         9         9         9
                         10       10        10
                         11       11        11
                         12       12        12
                         13       13        13
                         14       14        14
                         15       15        15
Saturday 2 november 2019 0        16        16
                         1        17        17
                         2        18        18

In [5]:
import ipywidgets as widgets
from ipywidgets import interactive, interact, interact_manual

ALL = 'ALL'
def unique_sorted_values_plus_ALL(array):
    unique = array.unique().tolist()
    unique.sort()
    unique.insert(0, ALL)
    return unique

dropdown_year = widgets.Dropdown(options = unique_sorted_values_plus_ALL(dfx.time))

def dropdown_year_eventhandler(change):
    if (change.new == ALL):
        display(dfx)
    else:
        display(dfx[dfx.time == change.new])

dropdown_year.observe(dropdown_year_eventhandler, names='value')

display(dropdown_year)

Dropdown(options=('ALL', 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18), value='ALL')

                              time  velocity
date                   index
Friday 1 November 2019 1         1         1